# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ 'master' ]
  pull_request:
    branches: [ '**' ]

jobs:
  build:

    runs-on: ubuntu-latest

    test:
      strategy:
        matrix:
          java-version: [ 11, 12, 13, 14, 15, 16, 17, 18 ]

      steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java-version }}
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew clean build --stacktrace

    notification:
      needs: [test]
      steps:
      - name: Notify job finish
        uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          author_name: Build結果
          fields: ref,job
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: always()
